/*BACKGROUND*/
 :root {
  background: black !important
 }
 .loot-backdrop{
  background:black !important
 }
 .collections-application,
 .loot-backdrop.background-static,
 .rcp-fe-lol-tft-application-background,
 .rcp-fe-viewport-sidebar,
 .clash-aram-intro-modal,
 .loot-backdrop.background-static,
 .loot-contents,
 .store-loading,
 .clash-tab-team-background,
 .clash-tab-bracket-background,
 .tournament-scouting,
 .clash-missed-lockin-modal,
 .clash-root-background-landing,
 .clash-root-background,
 .store-backdrop,
 .background,
 .stats-backdrop,
 .yourshop-root,
 .profile-main-match-history,
 .lobby-header-overlay,
 .postgame-background-image,
 .lol-social-sidebar
 {
  background: black !important;
  background-color: transparent!important;
  background-image: none !important
 }
 .v2-parties-invite-info-panel,
 .v2-parties-invite-info-panel .split-panel-header,
 .match-details-root,
 #rcp-fe-viewport-root #rcp-fe-lol-navigation-app,
 lol-social-roster-group .group-header{
  background: black !important
 }
 lol-social-chat-room .chat-box{
  background: transparent !important;
 }
 .ranked-intro-background {
  display: none
 }
 .navbar-blur{
  background: black !important;
  backdrop-filter: none !important
 }
 .parties-view .parties-background {
  opacity:0
 }
 .rcp-fe-lol-navigation.main-nav-bar {
  height: 76px !important
 }
 lol-social-chat-window #chat-window-wrapper,
 lol-social-chat-window .conversations{
  background-color: black !important;
  border: thin solid #785a28 !important;
  border-right: thin solid #785a28 !important;
}

/*EVENT-SHOP*/
.rcp-fe-lol-event-shop-application{
  background-image: none !important;
 }
 .event-shop-offer-card,
 .event-shop-token-shop,
 .event-shop-page-header,
 .event-shop-token-shop-header,
 .event-shop-category-nav-bar,
 .event-shop-reward-track-wrapper,
 .event-shop-progression-info{
  background: black !important;
}

/*GAME-IN-PROGRESS*/
 .rcp-fe-lol-game-in-progress {
	background-image: unset !important;
	background-color: black !important
}

/*LOADING-SCREEN*/
 .lol-loading-screen-container.lol-loading-screen-default-state {
  backdrop-filter: blur(20px);
  background: transparent !important
 }
 .lol-loading-screen-container.lol-loading-screen-default-state .lol-loading-screen-spinner {
	display: none
 }
 .loading-tab::after {
	background-image:none !important
 }
 .uikit-background-switcher .lol-uikit-background-switcher-image.transition.fade {
	animation: unset !important
}

/*DODGE-BUTTON*/
 .champion-select .quit-button {
  width: 115px;
}